<div class="d-flex">
  <!--  Menu Sidebar -->
  <app-sidebar></app-sidebar>
  <!--  Container -->
  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscador</h5>
        <input class="form-control" type="text" placeholder="Buscar gifs...">
      </div>
    </div>
    <hr>
    <div class="row p-3">
      <div class="col">
        A crystal form of love is the relativity.Salad cream soup is just not the same without parsley and squeezed rich
        caviars.Urchin, pestilence, and treasure.Gemna, danista, et onus.The life is a galactic processor.Planets
        malfunction with plasma at the most unusual center!
      </div>
    </div>
  </div>
</div>
